/*Knight-Visuals Website Layout
============================================================
<!-- 
	Author: Aaron Knight
	Date: 7/28/2018
	Project: Knight-Visuals Website
	Project Files: kViz_home.html, kViz_artwork.html, kViz_resume.html, 
				   kViz_layout.css, kViz_styleSheet.css 
			-->
			
============================================================
*/
/*Page Body Styles*/

body {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	max-width: 960px;
	min-width: 640px;
}

/*Floating Styles*/
nav.horizontalNavigation li {
	display: block;
	float: left;

}

section#leftColumn {
	clear: left;
	float: left;

}

section#rightColumn {
	float: left;
	width: 67%;
}

footer > nav.verticalNavigation {
	float: left;
	width: 67%;

}

footer > nav.verticalNavigation {
	float: left;
	width: 34%;
}

/*Container Collapse Styles*/
body > footer::after {
	clear: both;
	content: "";
	display: table;
}

article img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	width: 95%;
	max-width: 960px;
	min-width: 640px;
		}