/*Knight-Visuals Website Layout
============================================================
<!-- 
	Author: Aaron Knight
	Date: 7/28/2018
	Project: Knight-Visuals Website
	Project Files: index.html, kViz_resume.html, 
				   kViz_layout.css, kViz_styleSheet.css 
			
			
============================================================
*/
/* Font-Face */
@font-face {
	font-family: Quicksand;
	src: url('Quicksand-Regular.woff') format('woff'), 
		url('Quicksand-Regular.ttf') format('truetype');

}

body {
	color: rgb(91,91,91);
	background-color: white;
	font-family: Verdana, Geneva, sans-serif;

}

body header img {
	display: block;
	width: 100;
}

h1 {font-size: 2.2em;}
h2 {font-size: 1.5em;}

h1, h2{
	font-family: Quicksand, Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
}

aside blockquote {
	line-height: 2em;
}

body > footer address {
	background-color: rgb(222,128,60);
	color: rgba(255, 255, 255, 0.7);
	font: normal small-caps bold 0.9em/3em
		Quicksand, Verdana, Geneva, sans-serif;
	text-align: center;
}
article h3 {
	text-align: left;
	list-style-type: none;
}

article h3 a {
	font-family: Verdana, Geneva, sans-serif;
}

article div img {
	position: relative;
	float: center;
	width: 100;
}
/*nav elements*/

nav ul li {
	/*text-align: center;*/
	background-color: rgb(255,255,255);
	color: rgba(76, 195, 202, 0.7);
	font: normal small-caps bold 0.9em/3em
		Quicksand, Verdana, Geneva, sans-serif;
	text-align: right;
	list-style-type: none;
}

nav {
	font-family: Quicksand, Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
}

a {
   text-decoration: none;
}

header a img {
	float: center;
}